:root {
  --font-primary: "Inter", sans-serif;
  --fs-body: 16px;
  --fs-xs: 18px;
  --fs-s: 20px;
  --fs-m: 32px;
  --fs-l: 40px;
  --fs-xl: 56px;

  --white: #fffdfa;
  --yellow: #e9aa52;
  --red: #f15d51;
  --darkBlue: #00001a;

  --gray-100: #c5c6ce;
  --gray-200: #5e607a;
}
