nav {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 5.56rem 0 3.44rem 0;
    align-items: center;
    max-width: 69.38rem;
    width: 100%;
    div {
      img {
        cursor: pointer;
      }
    }
    ul {
      display: flex;
      list-style: none;
      text-decoration: none;
      gap: 2.5rem;
      a {
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
          color: var(--red);
        }
      }
      li {
        max-width: 26.94rem;
      }
    }
  }
}

.menu {
  display: none;
}
.activeMenu {
  flex-direction: column;
  position: absolute;
  background-color: var(--white);
  right: 0;
  margin: 0;
  width: 75%;
  height: 100vh;
  padding: 20% 0 0 2rem;
}

.active {
  display: flex;
  flex-direction: column;
}

//800px
@media (max-width: 50rem) {
  nav {
    .navbar {
      margin: 1.75rem 0 2rem 0;

      div {
        .menu {
          display: block;
        }
      }
      .navbar-nav {
        display: none;
      }
    }
  }
}
